*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  margin: 20px;
  background-color: red;
border-collapse: collapse;
}
th{
  padding: 20px;
  background-color: aqua;
  border-right: 1px solid red;
 border-bottom: collapse;

}
td{
  padding: 20;
  background-color: orange;
  border-right: 1px solid red;
  border-left: 2px solid red;
}
tr{

}